%h1.text-center.font-weight-bold.mb-4.border-bottom info

.card.mb-3.w-50
  - if current_user == @user
    .card-header.d-flex.justify-content-between
      %h5.card-title
        = @user.username
      = link_to 'アカウントを編集', edit_user_registration_path,
                class: 'btn btn-primary'
    = form_with(model: @user, local: true) do |form|
      .card-body
        %p.card-text.d-flex.flex-column.align-items-center
          %strong プロフィール:
          .form-group.text-center
            = form.text_area :profile, class: 'form-control', maxlength: 200
        %p.card-text.d-flex.flex-column.align-items-center
          %strong ブログURL:
          .form-group.text-center
            = form.text_area :blog_url, class: 'form-control'
        .d-flex.justify-content-end.mb-3
          = form.submit '更新', class: 'btn btn-primary'

  - else
    .card-header.d-flex.justify-content-between
      %h5.card-title
        = @user.username
    .card-body
      %p.card-text.d-flex.flex-column.align-items-center
        %strong プロフィール:
        = @user.profile
      %p.card-text.d-flex.flex-column.align-items-center
        %strong ブログURL:
        = link_to @user.blog_url, @user.blog_url

%hr.w-25
.d-flex.justify-content-between.mt-4.w-25{ style: 'min-width: 185px;' }
  - if user_signed_in?
    = link_to 'ログアウト', destroy_user_session_path,
              data: { turbo_method: :delete },
              class: 'btn btn-outline-secondary'
  = link_to 'timeline', timeline_path, class: 'btn btn-secondary'
