%h1 ユーザー情報
%p
  %strong ユーザー名:
  = @user.username
- if current_user == @user
  = link_to 'アカウントを編集', edit_user_registration_path, class: 'btn btn-primary'
  - if user_signed_in?
    .d-flex.justify-content-center.mt-4
      = link_to 'ログアウト', destroy_user_session_path,
                data: { turbo_method: :delete }, class: 'btn btn-secondary'

  = form_with(model: @user, local: true) do |form|
    .form-group
      = form.label :profile
      = form.text_area :profile, class: 'form-control', maxlength: 200
    .form-group
      = form.label :blog_url
      = form.text_field :blog_url, class: 'form-control'
    .text-center
      = form.submit '更新', class: 'btn btn-primary'
- else
  %p
    %strong プロフィール:
    = @user.profile
  %p
    %strong ブログURL:
    = @user.blog_url

.d-flex.justify-content-center.mt-4
  = link_to '全体タイムライン', posts_path, class: 'btn btn-secondary'
