<h1>短文投稿</h1>

<%= form_with model: @post, local: true do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h2>投稿一覧</h2>

<% @posts.each do |post| %>
  <p><%= post.content %></p>
  <p><%= post.created_at %></p>
  <hr>
<% end %>
