-# haml-lint:disable IdNames
%h1.text-center.font-weight-bold.mb-4.border-bottom
  新規投稿

.flex.d-flex.flex-column.align-items-center.justify-content-center
= form_with model: @post do |f|
  .field.mb-3.w-100
    = f.label :content, class: 'form-label'
    = f.text_area :content, class: 'form-control', maxlength: 140
  .actions.mt-3.d-flex.justify-content-center
    = f.submit 'Post', class: 'btn btn-primary'

.d-flex.justify-content-center.mt-4
  = link_to '投稿一覧', posts_path, class: 'btn btn-secondary'

/ # ログインしている場合はログアウトボタンを表示
- if user_signed_in?
  .d-flex.justify-content-center.mt-4
    = link_to 'ログアウト', destroy_user_session_path,
              data: { turbo_method: :delete }, class: 'btn btn-secondary'
