%h1.text-center.font-weight-bold.mb-4.border-bottom timeline

.d-flex.align-items-center.gap-2
  = link_to '新規投稿', new_post_path, class: 'btn btn-primary mb-4'
  - button = user_signed_in? ? 'マイページ' : 'ログイン'
  - path = user_signed_in? ? user_path(current_user) : new_user_session_path
  = link_to button, path, class: 'btn btn-secondary mb-4'

.nav.nav-tabs.mb-4
  %li.nav-item
    = link_to '全体タイムライン', timeline_path,
              class: "nav-link #{'active' if current_action == 'index'}"
  - if user_signed_in?
    %li.nav-item
      = link_to 'フォロータイムライン', timeline_followings_path,
                class: "nav-link #{'active' if current_action == 'followings'}"
    %li.nav-item
      = link_to 'マイタイムライン', timeline_user_path(current_user),
                class: "nav-link #{'active' if current_action == 'user'}"

.container.d-flex.align-items-center.mx-auto
  .posts.d-flex.flex-row.overflow-auto{ 'data-controller': 'posts' }
    - @posts.each do |post|
      .posts_card.mr-2.mb-2{ tabindex: 0 }
        .card-body.d-flex.flex-column.justify-content-between
          .top-content
            %p.h5.card-title
              = post.content
            %p.card-text
              = post.created_at
          .bottom-content
            %hr
            .d-flex.justify-content-between
              %p.card-text
                = link_to post.user.username, user_path(post.user)
              - if user_signed_in?
                - if current_user == post.user
                  = link_to '編集', edit_post_path(post),
                            class: 'btn btn-secondary'
                - elsif current_user.following?(post.user)
                  = button_to 'フォロー解除', unfollow_user_path(post.user),
                              method: :delete, class: 'btn btn-danger'
                - else
                  = button_to 'フォロー', follow_user_path(post.user),
                              method: :post, class: 'btn btn-primary'
    .end-of-data.posts_card.mr-2.mb-2.end-of-data.border-0
      .card-body.d-flex.flex-row.align-items-center.justify-content-center
        %h5.card-title No more data

%br
%hr.w-25
.d-flex.justify-content-end.mt-4.w-25
  - if user_signed_in?
    = link_to 'ログアウト', destroy_user_session_path,
              data: { turbo_method: :delete }, class: 'btn btn-danger'
