-# ヘッダー --------------------------------------------------------------------
%h1.text-center.font-weight-bold.mb-4.border-bottom timeline
.d-flex.align-items-center.gap-2
  - button = user_signed_in? ? 'マイページ' : 'ログイン'
  - path = user_signed_in? ? user_path(current_user) : new_user_session_path
  = link_to button, path, class: 'btn btn-secondary mb-4'
-# Navバー ---------------------------------------------------------------------
.nav.nav-tabs.mb-4
  %li.nav-item
    = link_to '全て', timeline_path,
              class: "nav-link #{'active' if current_action == 'index'}"
  - if user_signed_in?
    %li.nav-item
      = link_to 'フォロー', timeline_followings_path,
                class: "nav-link #{'active' if current_action == 'idx_followings'}"
    %li.nav-item
      = link_to 'いいね', timeline_likes_path,
                class: "nav-link #{'active' if current_action == 'idx_likes'}"
    %li.nav-item
      = link_to '自分', timeline_user_path(current_user),
                class: "nav-link #{'active' if current_action == 'idx_user'}"
-# カード ----------------------------------------------------------------------
.container.d-flex.align-items-center
  .posts.d-flex.flex-row.mx-auto.overflow-auto{'data-controller': 'posts',
    'data-my-id': current_user&.id,'data-tl-type': current_action
  }
    - @posts.each do |post|
      .posts_card.mr-2.mb-2{ tabindex: 0 }
        .card-body.d-flex.flex-column.justify-content-between
          .top-content
            %p.h5.card-title
              = post['content']
            .d-flex.justify-content-center.align-items-center.position-relative.mx-auto
              - if post['images'].present?
                = cl_image_tag(post['images'][0], height: 100, crop: :scale)
                .position-absolute{ style: 'top: 10px; left: 10px; z-index: -1;' }
                  = cl_image_tag(post['images'][1], height: 100, crop: :scale)
                .position-absolute{ style: 'top: 10px; right: 10px; z-index: -2;' }
                  = cl_image_tag(post['images'][2], height: 100, crop: :scale)
                .position-absolute{ style: 'top: 20px; z-index: -3;' }
                  = cl_image_tag(post['images'][3], height: 100, crop: :scale)
          %p.card-text.mt-auto.mb-0
            = post['updated_at']
          .bottom-content
            %hr
            .row
              -# 編集 or ユーザー名
              .col-7
                - if current_user && current_user.id == post['user_id']
                  .bi.bi-pencil-square{ data: { 
                    bs_toggle: 'modal', bs_target: '#editModal',
                    controller: 'modal', action: 'click->modal#editPost',
                    cloud: ENV['CLOUDINARY_NAME'], post: post.to_json,
                  } }
                - else
                  %button.btn.btn-outline-secondary{'data-bs-toggle': 'modal',
                    'data-bs-target': '#userModal',
                    'data-controller': 'modal',
                    'data-action': 'click->modal#showUser',
                    'data-my-id': current_user&.id,
                    'data-post': post.to_json,
                    'data-root': 'timeline',
                  }= post['username']
              -# コメント
              .col-2{'data-bs-toggle': 'modal',
                'data-bs-target': '#commentModal',
                'data-controller': 'modal',
                'data-action': 'click->modal#showComments',
                'data-post': post.to_json,
              }
                .i{ id: "comment-icon-#{post['id']}",
                  style: 'pointer-events: none;',
                  data: { controller: "comment", post: post.to_json,
                          chat0: image_path('chat.svg'), chat1: image_path('chat-1.svg'),
                          chat2: image_path('chat-2.svg'), chat3: image_path('chat-3.svg'),
                          chat4: image_path('chat-4.svg'), chat5: image_path('chat-5.svg'),
                          chat6: image_path('chat-6.svg'), chatFill: image_path('chat-fill.svg')}
                }
                  = image_tag 'chat.svg'
                  %span{ style: 'display: none;', id: 'comments_cnt' }= post['comments_count']
              -# いいね
              .col-1.m-1
                - if user_signed_in? && current_user.id != post['user_id']
                  .i{'data-controller': 'like',
                    'data-post': post.to_json,
                    'data-action': 'click->like#toggleLike'
                  }
                    - if post['is_liked']
                      %heart.bi.bi-heart-fill{style: "color: #A54824;"}
                    - else
                      %heart.bi.bi-heart{style: "color: #A54824;"}
                - else
                  .bi.bi-heart
              -# いいね数
              .col-1.m-1{id: "likes-count-#{post['id']}", 
                      'data-bs-toggle': 'modal',
                      'data-bs-target': '#likersModal',
                      'data-controller': 'modal',
                      'data-action': 'click->modal#showLikers',
                      'data-post': post.to_json,
                      'data-my-id': current_user&.id,
              }
                = post['likes_count']
    .end-of-data.posts_card.border-0
      .card-body.d-flex.flex-row.justify-content-center
        %h5.card-title No more data
-# フッター ---------------------------------------------------------------------
%br
%hr.w-25
.d-flex.justify-content-between.w-25{
  style: 'min-width: 185px;'
}
  - if user_signed_in?
    = link_to 'ログアウト', destroy_user_session_path,
              data: { turbo_method: :delete },
              class: 'btn btn-outline-secondary'
    %button.btn.btn-primary{ data: {
       bs_toggle: 'modal', bs_target: '#newModal',
       controller: 'modal', action: 'click->modal#newPost' 
    } } 新規投稿

-# 新規投稿モーダル -------------------------------------------------------------
.modal.fade{ id: 'newModal', tabindex: '-1', 'aria-hidden': 'true' }
  .modal-dialog
    .modal-content
      .modal-header
        %h1.modal-title.fs-5{ id: 'postModalLabel' } 新規投稿
        %button.btn-close{ 'data-bs-dismiss': 'modal', 'aria-label': 'Close' }
      .modal-body
        = form_with(model: @post, local: true, class: 'mb-4', html: { multipart: true }) do |form|
          = form.label :content, 'テキスト'
          = form.text_area :content, class: 'form-control', maxlength: 140, id: 'textInput' # テキスト入力フィールドにidを追加
          = form.label :images, '画像'
          .row
            - 4.times do |i|
              .col-6.upload-area.border.border-3.border-dashed.d-flex.justify-content-center.align-items-center.text-center{ style: 'height: 100px;', id: "upload-area-#{i}", class: i.zero? ? '' : 'd-none' }
                = form.file_field :images, multiple: true, class: 'file-input', style: 'display: none;', data: { index: i }, accept: 'image/jpeg,image/gif,image/png'
                .upload-instructions
                  %p ＋
          .actions.mt-3.d-flex.justify-content-end.gap-5
            = form.submit '投稿', class: 'btn btn-primary', id: 'submitButton' # submitボタンにidを追加
          %p#errorElement.text-danger.mt-2
-# 投稿編集モーダル -------------------------------------------------------------
.modal.fade{ id: 'editModal', tabindex: '-1', 'aria-hidden': 'true' }
  .modal-dialog
    .modal-content
      .modal-header
        %h1.modal-title.fs-5{ id: 'postModalLabel' } 編集
        %button.btn-close{ 'data-bs-dismiss': 'modal', 'aria-label': 'Close' }
      .modal-body
        = form_with(model: @post, local: true, class: 'mb-4') do |form|
          = form.text_area :content, class: 'form-control', maxlength: 140
          .carousel.slide{ id: 'carouselExampleIndicators', 'data-bs-ride': 'carousel' }
            .carousel-indicators
              - @post.images.each_with_index do |image, index|
                %button{ type: 'button', 'data-bs-target': '#carouselExampleIndicators', 'data-bs-slide-to': index, class: index.zero? ? 'active' : '' }
            .carousel-inner
              - @post.images.each_with_index do |image, index|
                .carousel-item{ class: index.zero? ? 'active' : '' }
                  = cl_image_tag(image, class: 'd-block w-100')
            %button.carousel-control-prev{ type: 'button', 'data-bs-target': '#carouselExampleIndicators', 'data-bs-slide': 'prev' }
              %span.carousel-control-prev-icon{ 'aria-hidden': 'true' }
              %span.visually-hidden Previous
            %button.carousel-control-next{ type: 'button', 'data-bs-target': '#carouselExampleIndicators', 'data-bs-slide': 'next' }
              %span.carousel-control-next-icon{ 'aria-hidden': 'true' }
              %span.visually-hidden Next
          %p.updated-at 最終更新日時:
          .actions.mt-3.d-flex.justify-content-end.gap-5
            = link_to 'ポストごと削除', '#',
                      data: { turbo_method: :delete },
                      class: 'btn btn-danger'
            = form.submit '更新', class: 'btn btn-primary'
-# ユーザーモーダル -------------------------------------------------------------
.modal.fade{ id: 'userModal', tabindex: '-1', 'aria-hidden': 'true' }
  .modal-dialog
    .modal-content
      = render 'post_content'
      .modal-header
        %h1.modal-title.fs-5{ id: 'userModalLabel' }
          ユーザー情報
        %button.btn-close{ 'data-bs-dismiss': 'modal', 'aria-label': 'Close' }
      .modal-body
        .container-fluid
          .row.gap-4
            .col-3
              %strong ユーザー名 :
            .col
              %h3.name
          .row.gap-4
            .col-3
              %strong プロフィール :
            .col
              %span.profile-content
          .row.gap-4
            .col-3
              %strong ブログURL :
            .col
              = link_to 'user-blog-url-link', '#', class: 'blog-link'
          - if user_signed_in?
            .m-4.d-flex.justify-content-end
              %button.btn.toggleFollow{'data-controller': 'follow',
                'data-action': 'click->follow#toggleFollow',
              }
-# Likersモーダル ---------------------------------------------------------------
.modal.fade{ id: 'likersModal', tabindex: '-1', 'aria-hidden': 'true' }
  .modal-dialog
    .modal-content
      = render 'post_content'
      .modal-header 
        %h1.modal-title.fs-5{ id: 'likersModalLabel' } この投稿へのいいね
        %button.btn-close{ 'data-bs-dismiss': 'modal', 'aria-label': 'Close' }
      .modal-body
        %ul{id: 'likersList'}
-# Commentモーダル --------------------------------------------------------------
.modal.fade{ id: 'commentModal', tabindex: '-1', 'aria-hidden': 'true' }
  .modal-dialog
    .modal-content
      = render 'post_content'
      .modal-body
        - if user_signed_in?
          = form_with(local: true, class: 'mb-4') do |form|
            = form.text_area :content, class: 'form-control', maxlength: 140, placeholder: 'コメントを入力してください', required: true
            .actions.mt-3.d-flex.justify-content-end.gap-5
              %button.btn.btn-primary.addComment{ 'data-controller': 'comment',
                'data-action': 'click->comment#addComment',
              } コメント
            %hr
      .modal-header 
        %h1.modal-title.fs-5{ id: 'commentModalLabel' } この投稿へのコメント
        %button.btn-close{ 'data-bs-dismiss': 'modal', 'aria-label': 'Close' }
      .modal-body
        %ul{id: 'commentsList'}