%h1.text-center.font-weight-bold.mb-4.border-bottom 全体タイムライン

.d-flex.align-items-center.gap-2
  = link_to '新規投稿', new_post_path, class: 'btn btn-primary mb-4'
  - button = user_signed_in? ? 'マイページ' : 'ログイン'
  - path = user_signed_in? ? user_path(current_user) : new_user_session_path
  = link_to button, path, class: 'btn btn-secondary mb-4'

.container.mx-auto
  .posts.d-flex.flex-row.overflow-auto{ 'data-controller': 'posts' }
    - @posts.each do |post|
      .card.mr-2.mb-2
        .card-body
          %p.h5.card-title
            = post.content
          %p.card-text
            = post.created_at
          %hr
          .d-flex.gap-2
            %p.card-text
              = link_to post.user.username, user_path(post.user)
            - if user_signed_in? && current_user != post.user
              - if current_user.following?(post.user)
                = button_to 'フォロー解除', unfollow_user_path(post.user),
                            method: :delete, class: 'btn btn-danger'
              - else
                = button_to 'フォロー', follow_user_path(post.user),
                            method: :post, class: 'btn btn-primary'
    .card.mr-2.mb-2.end-of-data
      .card-body
        %h5.card-title End of data
