-# ヘッダー ---------------------------------------------------------------------
%h1.text-center.font-weight-bold.mb-4.border-bottom timeline
.d-flex.align-items-center.gap-2
  - button = user_signed_in? ? 'マイページ' : 'ログイン'
  - path = user_signed_in? ? user_path(current_user) : new_user_session_path
  = link_to button, path, class: 'btn btn-secondary mb-4'
-# Navバー ----------------------------------------------------------------------
.nav.nav-tabs.mb-4
  %li.nav-item
    = link_to '全て', timeline_path,
              class: "nav-link #{'active' if current_action == 'index'}"
  - if user_signed_in?
    %li.nav-item
      = link_to 'フォロー', timeline_followings_path,
                class: "nav-link #{'active' if current_action == 'followings'}"
    %li.nav-item
      = link_to '自分', timeline_user_path(current_user),
                class: "nav-link #{'active' if current_action == 'user'}"
-# カード -----------------------------------------------------------------------
.container.d-flex.align-items-center
  .posts.d-flex.flex-row.mx-auto.overflow-auto{
    'data-controller': 'posts',
    'data-my-id': current_user&.id,
    'data-tl-type': current_action
  }
    - @posts.each do |post|
      .posts_card.mr-2.mb-2{ tabindex: 0 }
        .card-body.d-flex.flex-column.justify-content-between
          .top-content
            %p.h5.card-title
              = post['content']
            %p.card-text
              = post['updated_at'].in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M')
          .bottom-content
            %hr
            .d-flex.justify-content-between
              -# 左ボタン-----------------------------------
              %p.card-text
                - if current_user&.id != post['user_id'] # あとで修正
                  %button.btn.btn-outline-secondary{
                    'data-bs-toggle': 'modal',
                    'data-controller': 'modal',
                    'data-modal-type': 'user',
                    'data-bs-target': '#userModal',
                    'data-user-id': post['user_id'],
                    'data-action': 'click->modal#showUser'
                  }= post['username']
              -# 右ボタン-----------------------------------
              - if user_signed_in?
                - if current_user.id == post['user_id']
                  %button.btn.mb-4.btn-secondary{
                    'data-bs-toggle': 'modal',
                    'data-controller': 'modal',
                    'data-modal-type': 'post',
                    'data-bs-target': '#editModal',
                    'data-post-id': post['id'],
                    'data-post-content': post['content'],
                    'data-post-updated-at': post['updated_at'].in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M'),
                    'data-action': 'click->modal#edit'
                  } 編集
                - else
                  %button.btn.mb-4.toggleFollow{
                    'data-controller': 'follow',
                    'data-user-id': post['user_id'],
                    'data-is-followed': post['following'].to_s,
                    'data-action': 'click->follow#toggleFollow'
                  }
    .end-of-data.posts_card.border-0
      .card-body.d-flex.flex-row.justify-content-center
        %h5.card-title No more data
-# フッター ---------------------------------------------------------------------
%br
%hr.w-25
.d-flex.justify-content-between.w-25{
  style: 'min-width: 185px;'
}
  - if user_signed_in?
    = link_to 'ログアウト', destroy_user_session_path,
              data: { turbo_method: :delete },
              class: 'btn btn-outline-secondary'
    %button.btn.btn-primary{
      'data-bs-toggle': 'modal',
      'data-bs-target': '#newModal'
    } 新規投稿
-# 投稿モーダル -----------------------------------------------------------------
.modal.fade{ id: 'newModal', tabindex: '-1', 'aria-hidden': 'true' }
  .modal-dialog
    .modal-content
      .modal-header
        %h1.modal-title.fs-5{ id: 'postModalLabel' } 新規投稿
        %button.btn-close{ 'data-bs-dismiss': 'modal', 'aria-label': 'Close' }
      .modal-body
        = form_with(model: @post, local: true, class: 'mb-4') do |form|
          = form.text_area :content, class: 'form-control', maxlength: 140
          .actions.mt-3.d-flex.justify-content-end.gap-5
            = form.submit '投稿', class: 'btn btn-primary'

-# 編集モーダル -----------------------------------------------------------------
.modal.fade{ id: 'editModal', tabindex: '-1', 'aria-hidden': 'true' }
  .modal-dialog
    .modal-content
      .modal-header
        %h1.modal-title.fs-5{ id: 'postModalLabel' } 編集
        %button.btn-close{ 'data-bs-dismiss': 'modal', 'aria-label': 'Close' }
      .modal-body
        = form_with(model: @post, local: true, class: 'mb-4') do |form|
          = form.text_area :content, class: 'form-control', maxlength: 140
          %p.updated-at 最終更新日時:
          .actions.mt-3.d-flex.justify-content-end.gap-5
            = link_to '削除', '#',
                      data: { turbo_method: :delete },
                      class: 'btn btn-danger'
            = form.submit '更新', class: 'btn btn-primary'
-# ユーザーモーダル -------------------------------------------------------------
.modal.fade{ id: 'userModal', tabindex: '-1', 'aria-hidden': 'true' }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h1.modal-title.fs-5.user-name{ id: 'userModalLabel' }
        %button.btn-close{ 'data-bs-dismiss': 'modal', 'aria-label': 'Close' }
      .modal-body
        .container-fluid
          .row.gap-4.user-profile
            .col-2
              %strong プロフィール :
            .col-8
              %span.profile-content
          .row.gap-4.user-blog-url
            .col-2
              %strong ブログURL :
            .col-8
              = link_to 'user-blog-url-link', '#', class: 'user-blog-url-link'
          .row.gap-4
            .col-8
            .col-2
              -# 自分のページではない場合
              %button.btn.toggleFollow{
                'data-controller': 'modal',
                'data-action': 'click->modal#toggleFollow'
              }

-# -----------------------------------------------------------------------------
-# -# POSTモーダル
-# .modal.fade#postModal{ tabindex: '-1', aria_hidden: 'true' }
-#   .modal-dialog
-#     .modal-content
-#       .modal-body
-#         = render 'form'